@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Helvetica Neue", sans-serif;
  --border-gray-byblos: #6B7280;
  --background-color-byblos: #FFFBEB;
  /* Breakpoint para pantallas de móvil pequeñas */
  --breakpoint-xs: 450px;

  --animate-slide-in: slideInDownwards 0.5s ease-in-out forwards;
  --animate-slide-in-rtol: slideInLeftToRight 0.5s ease-in-out forwards;

  @keyframes slideInDownwards {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    70% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInLeftToRight {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

body {
  @apply font-sans;
}

